@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic reset */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  @apply bg-pokebit-gray h-screen overflow-hidden;
}

button {
  all: unset;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@layer components {
  /* Headings */
  .heading-1 {
    @apply text-4xl font-bold text-center mb-4;
  }

  .heading-2 {
    @apply text-2xl font-semibold text-center mb-2;
  }

  .heading-3 {
    @apply text-lg font-bold capitalize text-center mt-2;
  }

  /* Paragraph */
  .paragraph {
    @apply text-base leading-relaxed text-gray-700;
  }

  /* Buttons */
  .btn {
    @apply font-retro px-4 py-2 rounded text-white transition;
  }

  .btn-primary {
    @apply bg-pokebit-yellow text-black font-semibold py-2 px-4 rounded hover:bg-yellow-400 transition-colors;
  }

  .btn-secondary {
    @apply bg-gray-800 text-white font-medium py-2 px-4 rounded hover:bg-gray-700 transition-colors;
  }

  .btn-outline {
    @apply border border-pokebit-red text-pokebit-red hover:bg-pokebit-red hover:text-white;
  }

  /* Cards */
  .card {
    @apply bg-white  rounded-xl p-4 shadow-card transition hover:shadow-lg;
  }

  .card-title {
    @apply font-retro text-lg mb-2;
  }

  .card-text {
    @apply text-sm text-gray-700;
  }

  /* Detail panel */
  .panel {
    @apply bg-white  w-full sm:w-[400px] fixed top-0 right-0 h-full z-50 overflow-auto shadow-lg;
  }

  .panel-header {
    @apply flex justify-between items-center p-4 border-b border-gray-200;
  }

  .content-container {
    @apply flex-1 overflow-hidden flex flex-col;
  }

  .scrollable-content {
    @apply flex-1 overflow-y-auto;
  }
}
